.Rproj.user
.Rproj.user\5D06FB91\console06\INDEX001
.Rhistory
.RData
.Ruserdata
.Rproj.user/5D06FB91/console06/INDEX001
*.pper
.Rproj.user/5D06FB91/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
